* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans";
	font-size: 18px;
	line-height: 1.5em;
}

a {
	color: #000;
}

a:hover, a:focus {
	color: #777;
}

ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.inner {
	margin: 0 auto;
	width: 90%;
	max-width: 1400px;
}

.page-header {
	position: relative;
	padding: 100px 25px;
	padding-top: 150px;
	text-align: center;
	background: #222 url("../images/space.png") top left no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 100px;
}

.logo img {
	max-width: 100%;
}

.project-name {
	margin: 100px 0;
	font-size: 36px;
	line-height: 1.5em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 18px;
	color: #eee;
}

.project-tagline {
	margin-bottom: 35px;
	font-size: 22px;
	font-weight: 300;
	color: #eee;
}

.btn {
	display: inline-block;
	margin: 0 5px;
	padding: 8px 16px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #ccc;
	background: #000;
}

.btn:hover, .btn:focus {
	color: #000;
	background: #ccc;
}

.btn-primary {
	padding: 16px 32px;
	font-size: 16px;
	color: #000;
	background: #C1D82F;
}

.big-text {
	margin: 2em 0;
	font-size: 36px;
	line-height: 1.3em;
	font-weight: 300;
}

.feature {
	position: relative;
	float: left;
	width: 33.33333%;
	text-align: center;
}

.feature img {
	margin-bottom: 1.3em;
	max-width: 60%;
}

.feature-title {
	font-size: 24px;
	line-height: 1em;
	font-weight: 300;
}

.click-me {
	display: inline-block;
	padding: 5px 12px;
	border-radius: 3px;
	font-size: 14px;
	text-transform: uppercase;
	background: #ccc;
}

.thumbnail {
	float: left;
	padding: 30px;
	width: 20%;
}

.thumbnail img {
	max-width: 100%;
}

.slider-inner {
	margin: 0 auto;
	width: 85%;
}

.slider-inner .slick-next {
	right: -50px;
}

.slider-inner .slick-prev {
	left: -50px;
}

.anything-inner {
	margin: 0 auto;
	width: 90%;
	color: #ddd;
}

.anything img {
	float: left;
	margin-right: 30px;
	width: 33.33333%;
}

.anything-content {
	float: left;
	position: absolute;
	left: 39%;
	right: 10%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.anything .big-text {
	margin-top: 0;
	margin-bottom: 0.5em;
}

.demos {
	display: flex;
	flex-wrap: wrap;
}

.demos li {
	width: 31%;
}

.site-footer {
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 14px;
	color: #777;
}

/* !-- Helpers ---------------------------------------------- */

.group:after {
	content: "";
	display: table;
	clear: both;
}